// Feature Gradients
.gradient-vanusa {
  background: #E06961;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #89216B, #E06961);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #89216B, #E06961); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-purplin {
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-lawrencium {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
