/* purgecss start ignore */
@tailwind base;

@font-face {
  font-family: 'Fantasque Sans Mono';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/FantasqueSansMonoRegular.ttf) format('truetype');
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  @apply bg-yellow-200 rounded-sm p-1 text-gray-400;
}

a:hover {
  @apply bg-yellow;
}

footer a {
  @apply bg-transparent mx-4 px-6 py-2 rounded-md;
}

footer a:hover {
  @apply bg-gray-100;
}

footer a svg {
  @apply inline h-4 w-4 fill-current;
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
